doctype html
html(lang='en')
	include ./partials/_head.jade
	
	body
		include ./partials/_nav.jade
		
		div(class='container-fluid content-container')
			div(class='row')
				include ./partials/_profile_info.jade
				include ./partials/_tweets.jade
				include ./partials/_following.jade
				include ./partials/_messages.jade
		
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
		script(src='js/script.js')
					
				