div(class='activity-col col-xs-12 col-sm-12 col-md-4 col-lg-4')
	div(class='activity-label')
		h2 Following
		i(class="fa fa-caret-down" aria-hidden="true")
	div(class='activity-container')
		ul(class='following')
			li
				div(class='following-info')
					div(class='img-container')
					div(class='un') @twitterUser
						br
						span(class='rn') Emily Decarlos DeAngelos
				button(class='follow-button', type='button')
					| Unfollow
			
			li
				div(class='following-info')
					div(class='img-container')
					div(class='un') @twitterUser
						br
						span(class='rn') Emily Decarlos DeAngelos
				button(class='follow-button', type='button')
					| Unfollow
			
			li
				div(class='following-info')
					div(class='img-container')
					div(class='un') @twitterUser
						br
						span(class='rn') Emily Decarlos DeAngelos
				button(class='follow-button', type='button')
					| Unfollow
					
			li
				div(class='following-info')
					div(class='img-container')
					div(class='un') @twitterUser
						br
						span(class='rn') Emily Decarlos DeAngelos
				button(class='follow-button', type='button')
					| Unfollow
					
			li
				div(class='following-info')
					div(class='img-container')
					div(class='un') @twitterUser
						br
						span(class='rn') Emily Decarlos DeAngelos
				button(class='follow-button', type='button')
					| Unfollow