div(class='activity-col col-xs-12 col-sm-12 col-md-4 col-lg-4')
	div(class='activity-label')
		h2 Messages
		i(class="fa fa-caret-down" aria-hidden="true")
					
	div(class='activity-container')
		ul(class='messages')
			-for(var i = 0; i < messages.length;i++){
			-var sender = (messages[i].sender.id === user.id)? 'message-me' : 'message-other'
			li(class= sender)
				div(class='img-container',style='background-image:url(#{messages[i].sender.avatar})')
				div(class='message-container')
					div(class='message')
						| #{messages[i].text}
					div(style='clear:both')
					div(class='timestamp')
						|sent to #{messages[i].recipient.name} at #{messages[i].timestamp}
			-}