div(id='profile-info', class='col-xs-12 col-sm-12 col-md-12 col-lg-12')
	div(class='col-xs-12 col-sm-12 col-md-12 col-lg-12')
		div(class='img-container',style='background-image:url( #{user.avatar} );')
	div(class='profile-name col-xs-12 col-sm-12 col-md-12 col-lg-12')
		|@ #{user.screenName}