div(class='activity-col col-xs-12 col-sm-12 col-md-4 col-lg-4')
	div(class='activity-label')
		h2 Tweets
		i(class="fa fa-caret-down", aria-hidden="true")
					
	div(class='activity-container')
		ul(class='tweets')
			li
				div(class='tweet-info')
					div(class='img-container')
					div(class='un') @twitterUser
						br
						span(class='rn') Emily DeCarlos DeAngelos
				p
					| Kombucha tacos edison bulb, listicle XOXO before they sold out.
			
			li
				div(class='tweet-info')
					div(class='img-container')
					div(class='un') @twitterUser
						br
						span(class='rn') Emily DeCarlos DeAngelos
				p
					| Kombucha tacos edison bulb, listicle XOXO before they sold out.
					
			li
				div(class='tweet-info')
					div(class='img-container')
					div(class='un') @twitterUser
						br
						span(class='rn') Emily DeCarlos DeAngelos
				p
					| Kombucha tacos edison bulb, listicle XOXO before they sold out.
					
					
			li
				div(class='tweet-info')
					div(class='img-container')
					div(class='un') @twitterUser
						br
						span(class='rn') Emily DeCarlos DeAngelos
				p
					| Kombucha tacos edison bulb, listicle XOXO before they sold out.
					
					
			li
				div(class='tweet-info')
					div(class='img-container')
					div(class='un') @twitterUser
						br
						span(class='rn') Emily DeCarlos DeAngelos
				p
					| Kombucha tacos edison bulb, listicle XOXO before they sold out.